#wrapper,.list-group,.list-group-item
{
    background-color: #dae1e7;
    color:#00909e;
    border-color: #00909e;
    height:100%;

}

.list-group-item:hover
{
    background-color:#00909e ;
    color:#dae1e7;
}