<div id="wrapper">
    <!-- Sidebar -->
    <div class="border-right sidebar" id="sidebar-wrapper">
      <div class="sidebar-heading">Profile...
      </div>
      <div class="list-group list-group-flush">
        <a routerLink="/" class="list-group-item list-group-item-action ">Dashboard</a>
        <a routerLink="/products" class="list-group-item list-group-item-action ">Produits</a>
        <a routerLink="/customers" class="list-group-item list-group-item-action ">Clients</a>
        </div>
        </div>
        
</div>
